releases/test/GPX/gpx-1.1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.topografix.com/GPX/1/1"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    xmlns="http://relaxng.org/ns/structure/1.0" 
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <choice>
            <notAllowed/>
            <element name="gpx">
                <attribute name="creator">
                    <data type="string"/>
                </attribute>
                <attribute name="version">
                    <value type="string">1.1</value>
                </attribute>
                <optional>
                    <element name="metadata">
                        <optional>
                            <element name="name">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="desc">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="author">
                                <optional>
                                    <element name="name">
                                        <ref name="string"/>
                                    </element>
                                </optional>
                                <optional>
                                    <element name="email">
                                        <attribute name="domain">
                                            <data type="string"/>
                                        </attribute>
                                        <attribute name="id">
                                            <data type="string"/>
                                        </attribute>
                                    </element>
                                </optional>
                                <optional>
                                    <element name="link">
                                        <ref name="linkType"/>
                                    </element>
                                </optional>
                            </element>
                        </optional>
                        <optional>
                            <element name="copyright">
                                <attribute name="author">
                                    <data type="string"/>
                                </attribute>
                                <optional>
                                    <element name="year">
                                        <data type="gYear"/>
                                    </element>
                                </optional>
                                <optional>
                                    <element name="license">
                                        <data type="anyURI"/>
                                    </element>
                                </optional>
                            </element>
                        </optional>
                        <zeroOrMore>
                            <element name="link">
                                <ref name="linkType"/>
                            </element>
                        </zeroOrMore>
                        <optional>
                            <element name="time">
                                <ref name="dateTime"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="keywords">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="bounds">
                                <attribute name="maxlon">
                                    <data type="decimal">
                                        <param name="minInclusive">-180</param>
                                        <param name="maxExclusive">180</param>
                                    </data>
                                </attribute>
                                <attribute name="maxlat">
                                    <data type="decimal">
                                        <param name="minInclusive">-90</param>
                                        <param name="maxInclusive">90</param>
                                    </data>
                                </attribute>
                                <attribute name="minlon">
                                    <data type="decimal">
                                        <param name="minInclusive">-180</param>
                                        <param name="maxExclusive">180</param>
                                    </data>
                                </attribute>
                                <attribute name="minlat">
                                    <data type="decimal">
                                        <param name="minInclusive">-90</param>
                                        <param name="maxInclusive">90</param>
                                    </data>
                                </attribute>
                            </element>
                        </optional>
                        <optional>
                            <element name="extensions">
                                <ref name="extensionsType"/>
                            </element>
                        </optional>
                    </element>
                </optional>
                <zeroOrMore>
                    <element name="wpt">
                        <ref name="wptType"/>
                    </element>
                </zeroOrMore>
                <zeroOrMore>
                    <element name="rte">
                        <optional>
                            <element name="name">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="cmt">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="desc">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="src">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <zeroOrMore>
                            <element name="link">
                                <ref name="linkType"/>
                            </element>
                        </zeroOrMore>
                        <optional>
                            <element name="number">
                                <ref name="nonNegativeInteger"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="type">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="extensions">
                                <ref name="extensionsType"/>
                            </element>
                        </optional>
                        <zeroOrMore>
                            <element name="rtept">
                                <ref name="wptType"/>
                            </element>
                        </zeroOrMore>
                    </element>
                </zeroOrMore>
                <zeroOrMore>
                    <element name="trk">
                        <optional>
                            <element name="name">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="cmt">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="desc">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="src">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <zeroOrMore>
                            <element name="link">
                                <ref name="linkType"/>
                            </element>
                        </zeroOrMore>
                        <optional>
                            <element name="number">
                                <ref name="nonNegativeInteger"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="type">
                                <ref name="string"/>
                            </element>
                        </optional>
                        <optional>
                            <element name="extensions">
                                <ref name="extensionsType"/>
                            </element>
                        </optional>
                        <zeroOrMore>
                            <element name="trkseg">
                                <zeroOrMore>
                                    <element name="trkpt">
                                        <ref name="wptType"/>
                                    </element>
                                </zeroOrMore>
                                <optional>
                                    <element name="extensions">
                                        <ref name="extensionsType"/>
                                    </element>
                                </optional>
                            </element>
                        </zeroOrMore>
                    </element>
                </zeroOrMore>
                <optional>
                    <element name="extensions">
                        <ref name="extensionsType"/>
                    </element>
                </optional>
            </element>
        </choice>
    </start>
    <define name="anylaxother">
        <element>
            <anyName>
                <except>
                    <nsName ns=""/>
                    <nsName/>
                </except>
            </anyName>
            <mixed>
                <zeroOrMore>
                    <choice>
                        <attribute>
                            <anyName/>
                        </attribute>
                        <ref name="anylaxother"/>
                    </choice>
                </zeroOrMore>
            </mixed>
        </element>
    </define>
    <define name="extensionsType">
        <zeroOrMore>
            <ref name="anylaxother"/>
        </zeroOrMore>
        <empty/>
    </define>
    <define name="linkType">
        <group>
            <attribute name="href">
                <data type="anyURI"/>
            </attribute>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="text">
                        <ref name="string"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="type">
                        <ref name="string"/>
                    </element>
                </choice>
            </optional>
        </group>
        <empty/>
    </define>
    <define name="nonNegativeInteger">
        <data type="nonNegativeInteger"/>
    </define>
    <define name="wptType">
        <group>
            <attribute name="lon">
                <data type="decimal">
                    <param name="minInclusive">-180</param>
                    <param name="maxExclusive">180</param>
                </data>
            </attribute>
            <attribute name="lat">
                <data type="decimal">
                    <param name="minInclusive">-90</param>
                    <param name="maxInclusive">90</param>
                </data>
            </attribute>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="ele">
                        <ref name="decimal"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="time">
                        <ref name="dateTime"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="magvar">
                        <data type="decimal">
                            <param name="minInclusive">0</param>
                            <param name="maxExclusive">360</param>
                        </data>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="geoidheight">
                        <ref name="decimal"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="name">
                        <ref name="string"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="cmt">
                        <ref name="string"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="desc">
                        <ref name="string"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="src">
                        <ref name="string"/>
                    </element>
                </choice>
            </optional>
            <zeroOrMore>
                <choice>
                    <notAllowed/>
                    <element name="link">
                        <ref name="linkType"/>
                    </element>
                </choice>
            </zeroOrMore>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="sym">
                        <ref name="string"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="type">
                        <ref name="string"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="fix">
                        <choice>
                            <value type="string">3d</value>
                            <value type="string">none</value>
                            <value type="string">dgps</value>
                            <value type="string">pps</value>
                            <value type="string">2d</value>
                        </choice>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="sat">
                        <ref name="nonNegativeInteger"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="hdop">
                        <ref name="decimal"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="vdop">
                        <ref name="decimal"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="pdop">
                        <ref name="decimal"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="ageofdgpsdata">
                        <ref name="decimal"/>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="dgpsid">
                        <data type="integer">
                            <param name="minInclusive">0</param>
                            <param name="maxInclusive">1023</param>
                        </data>
                    </element>
                </choice>
            </optional>
            <optional>
                <choice>
                    <notAllowed/>
                    <element name="extensions">
                        <ref name="extensionsType"/>
                    </element>
                </choice>
            </optional>
        </group>
        <empty/>
    </define>
    <define name="decimal">
        <data type="decimal"/>
    </define>
    <define name="dateTime">
        <data type="dateTime"/>
    </define>
    <define name="string">
        <data type="string"/>
    </define>
</grammar>